* {
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

html,body {
    height: 100%;
}

.container-fluid {
    display: grid;
    grid-template-areas:
        "header header header"
        "sidebar main main"
        "footer footer footer";
    grid-template-columns: 15rem 1fr 1fr;
    grid-template-rows: 5rem auto 4rem;
    height: 100vh;
    padding: 0;
    /* importante */
}

.header {
    grid-area: header;
    background: #333;
    color: #eee;
    text-align: center;
    padding: 1rem;
}

.sidebar {
    grid-area: sidebar;
    background: #555;
    color: #eee;
    padding: 1rem;
    align-items: center;
    text-align: center;
    align-content: top;
}

.main {
    grid-area: main;
    background: #ddd;
    padding: 1rem;
}

.footer {
    grid-area: footer;
    background: #333;
    color: #eee;
    text-align: center;
    padding: 1rem;
}


.menu-lateral {
    display: flex;
    flex-direction: column; /* botões um embaixo do outro */
    align-items: center;    /* centraliza horizontalmente */
}

.botao-lateral {
    background-color: blueviolet;
    border-color: black;
    border-width: 2px;
    margin: 5px;
    width: 200px; /* opcional, para alinhar melhor */
}

.botao-lateral:hover{
    background-color: rgb(172, 106, 233);
    border-color: rgb(53, 16, 87);
    color: black;
}